app/.*
app/*.*
app/wp-includes
app/wp-admin
app/wp-content/*.*
app/wp-content/cache
app/wp-content/plugins/*
app/wp-content/uploads

!app/wp-content/plugins/mody*

auth.json

.idea
.vscode
.env

vendor
node_modules