SITE_DOMAIN: example.com
SITE_TITLE: My WordPress Site
SITE_SLUG: example_com
MYSQL_ROOT_PASSWORD: some-weird-password
WORDPRESS_DB_USER: db_user
WORDPRESS_DB_PASSWORD: some-misterious-password
WORDPRESS_DB_NAME: wordpress
WORDPRESS_TABLE_PREFIX: wp_
WORDPRESS_CONFIG_EXTRA: "define('WP_ENVIRONMENT_TYPE', 'production');"
WORDPRESS_REDIS_HOST: redis
WORDPRESS_REDIS_PORT: 6379
WORDPRESS_REDIS_PASSWORD: some-difficult-password
WORDPRESS_REDIS_DATABASE: 0
PUID: 1001
PGID: 1001
TIMEZONE: Europe/Madrid